*
!!README.md
!.gitignore
!*.c
!Makefile
!*.h
!Gauss method
!Interpolation
!Nonlinear equations. Bisection, chord, Newton.
!Simple iteration method
!Sweep method for tridiagonal systems
!Integration, method Runge
!Dif
!Linear approximation
!Newton systems of nonlinear equations